@using webchat.Helpers;

@if(!ViewData.ModelState.IsValid){
    var errors = ViewData.ModelState.Values.SelectMany(v => v.Errors).Select(t => t.ErrorMessage);
    @Html.ErrorSummary("errors", errors.ToList(), null, new { @class = "alert alert-error"});
    return;
}

<div id="error-dialog" title="@Resources.Strings.ErrorDialogTitle" hidden="hidden">
<p>@Resources.Strings.ErrorDialogContent</p>
</div>

<div class="chat-window" id="chat">
</div>

<span class="pull-right actionbox-toolbar">
    <a href="#" title="@Resources.Strings.ActionBoxTogglerTitle">
        <i id='toggler' class="icon-resize-small"></i></a>&nbsp;
</span>

<div class="well well-small" id="actionbox">
    @using(Html.BeginForm("Index", "Chat", FormMethod.Post)) {
        @Html.Label("text", (string)Session["nick"])
        @Html.TextArea("text", null, new { tabindex = 1 })

        <input type="submit" class="btn btn-primary" tabindex="2" id="send" name="send"
            value="@Resources.Strings.SendButtonText"/>
        
        @Html.Label("join_rooms", Resources.Strings.JoinRoomsLabel)
        @Html.TextBox("join_rooms", null, new { tabindex = 3 })

        <input id="join" name="join" tabindex="4" type="submit" value="@Resources.Strings.JoinButtonText" />
    }

    @using(Html.BeginForm("Disconnect", "Chat", FormMethod.Post)) {
        <br />
        <input class="btn btn-danger" id="quit" name="quit" tabindex="5" type="submit"
            value="@Resources.Strings.QuitButtonText" />
    }
</div>

<script type="text/javascript">
    Url = {
        Index:      '@Url.Action("Index", "Index")',
        Disconnect: '@Url.Action("Disconnect", "Chat")',
        MessageEvent: '@Url.Action("Post", "Message")',
        JoinRooms: '@Url.Action("Join", "Room")',
        LeaveRooms: '@Url.Action("Leave", "Room")',
        PongEvent: '@Url.Action("Index", "Pong")',
    };
     
    Data = {
        users: JSON.parse('@Html.Raw(Json.Encode(Model.Users))'),
        rooms: JSON.parse('@Html.Raw(Json.Encode(Model.Rooms))'),
    };

    Actionbox = {
        hidden: false,
    };
</script>

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"
    type="text/javascript"></script>

<script type="text/javascript" src="@Url.Content("~/Static/Js/lib/bootstrap.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Static/Js/lib/notificon.min.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Static/Js/lib/jquery.caret.min.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Static/Js/helpers.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Static/Js/notifications.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Static/Js/users.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Static/Js/rooms.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Static/Js/messages.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Static/Js/chat.js")"></script>