@model webchat.Models.IndexModel

@using Recaptcha;
@using webchat.Helpers;

@using(Html.BeginForm("Index", "Index", FormMethod.Post)){
    @Html.AntiForgeryToken()

    @Html.TextBox("nick", null, new { 
        tabindex = 1,
        placeholder = Resources.Strings.NickPlaceHolder,
    })
    
    <br />
    
    @Html.TextBox("rooms", null, new {
        tabindex = 2,
        placeholder = Resources.Strings.RoomsPlaceHolder,
    })
    
    <span class="help-block">@Resources.Strings.JoinRoomsHelpBlock</span>
    
    @Html.Raw(Html.GenerateCaptcha("captcha", "clean"))
    
    <br />
    <input type="submit" name="submit" class="btn btn-primary" value="Connect!"/>
}

@if(!ViewData.ModelState.IsValid){
    var errors = ViewData.ModelState.Values.SelectMany(v => v.Errors).Select(t => t.ErrorMessage);
    @Html.ErrorSummary("form-errors", errors.ToList(), null, new { @class = "alert alert-error" })
}