@model webchat.Models.IndexModel

@using Recaptcha;

@using(Html.BeginForm("Index", "Index", FormMethod.Post)){
    @Html.AntiForgeryToken()

    @Html.TextBox("nick", null, new { 
        @tabindex = 1,
        @placeholder = Resources.Strings.NickPlaceHolder,
        @style = "width:434px"
    })
    
    <br />
    
    @Html.TextBox("rooms", null, new {
        @tabindex = 2,
        @placeholder = Resources.Strings.RoomsPlaceHolder,
        @style="width:434px"
    })
    
    <span class="help-block">@Resources.Strings.JoinRoomsHelpBlock</span>
    
    @Html.Raw(Html.GenerateCaptcha("captcha", "clean"))
    
    <input type="submit" name="submit" class="btn btn-primary" value="Connect!"/>
}

@if(!ViewData.ModelState.IsValid){
    <div id="form-errors">
        @{
            var errors = ViewData.ModelState.Values.SelectMany(v => v.Errors);

            foreach(var error in errors) {
                <div class="alert alert-error">
                    @error.ErrorMessage
                </div>
            }
        }
    </div>
}