<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">

    <link rel="shortcut icon" href="@Url.Content("~/Static/favicon.ico")" />

    <link type="text/css" href="@Url.Content("~/Static/Css/jquery-ui-1.8.22.custom.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Static/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/Static/Css/style.css")" rel="stylesheet" />

    <title>Webchat</title>
</head>
<body>
    @RenderBody()

    <p class="footer">Icons from 
        <a href="http://glyphicons.com">Glyphicons Free</a>, licensed under 
        <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
        </p>
</body>
</html>
